.Button {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    color: inherit
}